.container {
  display: flex;
  flex-direction: row;
  max-width: 800px;
}

.container img {
  justify-items: left;
  position: absolute;
  padding-top: 10px;
  height: 100px;
  width: 200px;
}

.container .content {
  display: flex;
  color: #f1f1f1;
  padding: 20px;
}

